@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    background-color: #537895;
    background-image: linear-gradient(315deg, #1d2a35 0%, #1c1e20 74%);
}
* {
    font-size: 105%;
    font-family: 'Nunito';
}
p {
    font-size: 1rem;
}

.sighed{
    font-size: 1rem;
    color: aliceblue;
    text-align: center;
}
h2{
    font-size: 2rem;
    color: aliceblue;
}
.top-bar{
    width: 100%;
    height: 0.2rem;
    margin-top: 0rem;
    background-color: white;
}
.names {
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-left: 1.5rem;
}
.restart-btn {
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  margin-left: 1rem;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.restart-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.lightmode-body {
    background-color: #f3e6e8;
    background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);
}
.lightmode-title {
    color: black;
}
.footer {
    height: 50rem;
    color: transparent;
}
.toggle-btn {
  float: right;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;
  margin-right: 1rem;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.toggle-btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
.inner-spawn {
    margin-left: 1em;
}
.headings {
    text-emphasis: bold;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2rem;
}
.help-background {
    background-color: rgba(202, 72, 72, 0.87);
    border-radius: 10px;
    margin: 0.8rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}
.headings-1 {
    margin-top: -1.2rem;
    margin-left: 1.2rem;
    text-emphasis: bold;
    color: rgb(255, 255, 255);
}
.li-text {
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 12rem;
    font-size: 0.96rem;
}
.tables-grid {
    float: left;
    width: 40rem;
    height: 40rem;
    border-radius: 0.3rem;
    background-color: #a5a2a2da;
    margin-left: 1rem;
}
.spawn-grid {
    float: left;
    width: 14rem;
    height: 40rem;
    border-radius: 0.3rem;
    background-color: #7889c0a9;
    margin-left: 20rem;
}
.key-grid {
    float: left;
    width: 15rem;
    height: 40rem;;
    border-radius: 0.3rem;
    background-color: #a5a2a2da;
    margin-left: 1rem;
}
.hud {
    margin-top: 1.3rem;
    margin-left: auto;
}
.btn-move {
    font-size: 1rem;
    width: 7rem;
    height: 7rem;
    color: rgb(0, 0, 0);
    background: #cacaca;
    border-radius: 4px;
    margin-right: 5.5rem;
    margin-bottom: 2rem;
    border: none;
}
.btn-move:hover {
    transition-duration: 0.125s;
    transform: scale(1.02);
    background-color: rgb(226, 72, 45);
    opacity: 0.8;
}

.btn-move-long {
    font-size: 1rem;
    width: 12rem;
    height: 7rem;
    color: rgb(0, 0, 0);
    background: #cacaca;
    border-radius: 4px;
    margin-right: 5.5rem;
    margin-bottom: 2rem;
    border: none;
}
.btn-move-long:hover {
    transition-duration: 0.125s;
    transform: scale(1.02);
    background-color: rgb(226, 72, 45);
    opacity: 0.8;
}
.color-class {
    margin-bottom: 3em;
}
.tables-inner{
    background-color: #a7a6a6;   
    height: 34.5rem;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 5px;
}
#title-id {
    margin-left: 21rem;
}

#mydiv {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}

#mydivheader {
    cursor: move;
    z-index: 10;
}
#mydivheader1 {
    cursor: move;
    z-index: 10;
}
#mydivheader2 {
    cursor: move;
    z-index: 10;
}
#mydivheader4 {
    cursor: move;
    z-index: 10;
}
#mydivheader6 {
    cursor: move;
    z-index: 10;
}
#mydivheader8 {
    cursor: move;
    z-index: 10;
}
#mydivheader10 {
    cursor: move;
    z-index: 10;
}

#mydiv1 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}
#mydiv2 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}
#mydiv4 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}
#mydiv6 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}
#mydiv8 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}
#mydiv10 {
    position: absolute;
    z-index: 9;
    border: 1px solid #d3d3d3;
    border: none;
}

#rectangle {
    width: 25px;
    height: 25px;
    background-color: #92EF79;
    margin-left: 1.4rem;
    border-radius: 5px;
}

#rectangle1 {
    width: 25px;
    height: 25px;
    background-color: #F8FB79;
    margin-left: 1.4rem;
    border-radius: 5px;
}

#rectangle2 {
    width: 25px;
    height: 25px;
    background-color: #FFE946;
    margin-left: 1.4rem;
    border-radius: 5px;
}

#rectangle3 {
    width: 25px;
    height: 25px;
    background-color: #FF6B4F;
    margin-left: 1.4rem;
    border-radius: 5px;
}

p {
    margin: 1.8rem;
    width: 20rem;
    font-size: 1rem;
    color: aliceblue;
}
